@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;

  font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #342e5c85;
  margin-right: 4px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;

  height: 100vh;
  width: 100vw;

  background-color: #1d232d;
  color: #fff;

  overflow-y: overlay;

}

.headerHero {
  background-color: #14181f;
}

.navBar {
  position: fixed;

  width: 100vw;

  transition: 450ms;
  z-index: 10;
}

.navBarScrolled {
  box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 25%);
  background-color: #1d232d;
}

.navBar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
}

.navBar > .container > .navLeft > ul {
  display: flex;
}

.navBar > .container > .navLeft > ul > li {
  list-style: none;
}

.navBar > .container > .navLeft > ul > li > a {
  text-decoration: none;
  padding: 8px;
  display: block;
  color: rgba(255, 255, 255, 0.60);
  transition: 0.2s;
}

.navBar > .container > .navLeft > ul > li > a:hover, .navBar > .container > .navLeft > ul > li > a.active {
  color: #fff;
}

.heroMain {
  height: 85vh;
  color: #fff;
  display: flex;
  justify-content: center;
}

.features {
  display: flex;
  justify-content: center;
}

.row.imageRow {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.imageRow > img {
  width: 70%;
  box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 25%);
  border-radius: 6px;
  z-index: 1;
}

.row.textRow {
  width: 41.6666666667%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.container { 
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; 
}

.textRow > p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.button {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 25%);
  background-color: #d71b64;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 0.625rem 1.5rem 0.5rem 1.5rem;
  font-size: 0.80rem;
  line-height: 1.5;
  vertical-align: bottom;
  transition: 100ms;
}

.row { overflow: auto }
.col, .fixed-col { float: left; padding-right: 30px; min-height: 32px; width: 100%;}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.user > img {
  width: 90px;
  height: 90px;

  border-radius: 100%;
}

.user {
  width: 90px;
  height: 90px;

  border-radius: 100%;

  text-decoration: none;
}

.card {
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 25%);
  border-radius: 4px;
  padding: 12px;
}

.team > .card {
  width: 225px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #d71b64;
}

a:hover {
  color: #b61754;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .team { grid-template-columns: repeat(4, 1fr); display: grid; margin: 0 auto; }
}

@media (max-width: 768px) {
  .team > .card { 
    width: 90%;
  }

  .row.imageRow {
    display: none;
  }

  .row.textRow {
    align-items: center;
    text-align: center;
    width: 90%;
  }
}